src/templates/index.pug
doctype html
html
  head
    meta(charset = 'utf-8')
    title Think or die
    script(src = polyfillUrl)
    script(src = appJs)
    link(
      rel = 'stylesheet'
      type = 'text/css'
      href = '//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic-ext'
    )
    link(
      rel = 'stylesheet'
      type = 'text/css'
      href = appCss
    )
  body
    header.Header
      p.Header-Score
        span.Header-ScoreLabel Очки:
        span.Header-ScoreValue 0
      p.Header-Toolbar
        button.Button.Button--repeat(type='button') Начать заново
    main.PlayField
      article.PlayField-Modal.PlayField-Modal--off
        p.PlayField-Message Game Over
        button.Button.Button--ok(type='button') Ok

      - let rowIndex = 0;

      while rowIndex < appConfig.fieldSize
        - let columnIndex = 0;

        while columnIndex < appConfig.fieldSize
          -
            let elementClass = 'PlayField-Place';
            let classes = [
              `${elementClass}--row-${rowIndex}`,
              `${elementClass}--column-${columnIndex}`,
            ];

          .PlayField-Place(class = classes)

          - columnIndex++;

        - rowIndex++;

build/index.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Think or die</title>
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=Promise,Array.from,Array.prototype.includes,Array.prototype.filter,Array.prototype.forEach"></script>
    <script src="/app/index.js"></script>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&amp;subset=cyrillic-ext">
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
  </head>
  <body>
    <header class="Header">
      <p class="Header-Score"><span class="Header-ScoreLabel">Очки:</span><span class="Header-ScoreValue">0</span></p>
      <p class="Header-Toolbar">
        <button class="Button Button--repeat" type="button">Начать заново</button>
      </p>
    </header>
    <main class="PlayField">
      <article class="PlayField-Modal PlayField-Modal--off">
        <p class="PlayField-Message">Game Over</p>
        <button class="Button Button--ok" type="button">Ok</button>
      </article>
      <div class="PlayField-Place PlayField-Place--row-0 PlayField-Place--column-0"></div>
      <div class="PlayField-Place PlayField-Place--row-0 PlayField-Place--column-1"></div>
      <div class="PlayField-Place PlayField-Place--row-0 PlayField-Place--column-2"></div>
      <div class="PlayField-Place PlayField-Place--row-0 PlayField-Place--column-3"></div>
      <div class="PlayField-Place PlayField-Place--row-1 PlayField-Place--column-0"></div>
      <div class="PlayField-Place PlayField-Place--row-1 PlayField-Place--column-1"></div>
      <div class="PlayField-Place PlayField-Place--row-1 PlayField-Place--column-2"></div>
      <div class="PlayField-Place PlayField-Place--row-1 PlayField-Place--column-3"></div>
      <div class="PlayField-Place PlayField-Place--row-2 PlayField-Place--column-0"></div>
      <div class="PlayField-Place PlayField-Place--row-2 PlayField-Place--column-1"></div>
      <div class="PlayField-Place PlayField-Place--row-2 PlayField-Place--column-2"></div>
      <div class="PlayField-Place PlayField-Place--row-2 PlayField-Place--column-3"></div>
      <div class="PlayField-Place PlayField-Place--row-3 PlayField-Place--column-0"></div>
      <div class="PlayField-Place PlayField-Place--row-3 PlayField-Place--column-1"></div>
      <div class="PlayField-Place PlayField-Place--row-3 PlayField-Place--column-2"></div>
      <div class="PlayField-Place PlayField-Place--row-3 PlayField-Place--column-3"></div>
    </main>
  </body>
</html>
